<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>积分商城</title>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.SuperSlide.2.1.3.js"></script>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/changegifts.css">
</head>
<body >
<div id="header"></div>
<div class="changegifts">
    <div class="gifts_header"></div>
    <div class="gifts_body clearfix">
        <% for(var i=0;i<rows.length;i++){ %>
            <div class="gifts_block clearfix">
                <div class="block_left">
                    <img src="<%=rows[i].path%>" alt="" onclick=goto('detail?id=<%=rows[i].goodId%>')>
                </div>
                <div class="block_right">
                    <div class="right_top">
                        <%=rows[i].integralCount%>积分兑换
                    </div>
                    <div class="right_center">
                        <%=rows[i].name%>
                    </div>
                    <div class="right_bottom noactive">
                        <a href="javascript:;" onclick="exchange('<%=rows[i].id%>','<%=rows[i].integralCount%>')">我要兑换</a>
                    </div>
                </div>
            </div>
          <%}%>
    </div>
</div>
<div id="center1"></div>

<div id="footer"></div>
<script type="text/javascript">
    $(document).ready(function(){
        $('#footer').load('footer.html');
        $('#header').load('header.html');
//        $('#center').load('center.html');
        var userName = $.cookie('userName');
        setTimeout((function(){
            if(userName && userName!=''){
                $('.logina').hide();
                $('.loginname').html(userName).show();
                $('.exita').show();
                if(userName == 'admin'){
                    $('.managercenter').show();
                }
            }
        }),100);
        setTimeout((function() {
            jQuery('.navUl li').removeClass('active');
            jQuery('.navUl li:eq(2)').addClass('active');
        }),100);


         setTimeout((function(){
                 var nums = $.cookie('total_num');
                var prices = $.cookie('total_price');
                if(nums != null){
                    $('.num-show').text(nums);
                    $('.totalprice').text(prices);
                }
        }),500);
    })

    function goto(url){
        window.location.href=url;
    }

    function exchange(id,integralCount){
        var userName = $.cookie('userName');
        $.ajax({
            url: '/queryIntegral',
            data: {
                userName : userName
            },
            success(data){
                if(data.err){
                }else{
                    data = JSON.parse(data);
                    if(data != '' && data != null && data[0].integral != '' && data[0].integral != null){
                        if(parseInt(data[0].integral) < integralCount){
                            alert("积分不足");
                            return;
                        }
                        toexchange(id,integralCount,userName);
                    }else{
                        alert("积分不足");
                    }
                }
            },
            error(){
                alert('操作失败');
            }
        })
    }

    function toexchange(id,integralCount,userName){
        $.ajax({
            url: '/toexchange',
            data: {
                userName : userName,
                integralCount : integralCount,
                id : id
            },
            success(data){
                if(data.err){
                    alert("兑换失败");
                }else{
                    alert("兑换成功");
                    window.location.href = "mine?userName=" + userName;
                }
            },
            error(){
                alert('操作失败');
            }
        })
    }
</script>
</body>
</html>